@model IEnumerable<MedicationIngredient>

@{
    ViewData["Title"] = "List Medication";
    Layout = "~/Views/Shared/_NurseLayout.cshtml";
}
<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Medication</li>
        <li class="active">List Medication</li>
    </ol>
</div>
<div class="container px-6 mx-auto grid">

    <h2><b>@ViewData["Title"]</b></h2>
    <hr />


    <table class="table table-hover">
        <thead>
            <tr>
                <th>Medication Name</th>
                <th>Dosage Form</th>
                <th>Active Ingredient</th>
                <th>Strength</th>
                <th>Stock On Hand</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var medicationIngredient in Model)
            {
                <tr>
                    <td>@medicationIngredient.Medication.Name</td>
                    <td>@medicationIngredient.Medication.DosageForm.Name</td>
                    <td>@medicationIngredient.ActiveIngredient.Name</td>
                    <td>@medicationIngredient.ActiveIngredientStrength</td>
                    <td>@medicationIngredient.Medication.StockOnHand</td>

                    <td>
                        <a asp-action="AddMedicationToCart" asp-route-id="@medicationIngredient.MedicationId">Add</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>