@model IEnumerable<Prescription>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Prescription List</h2>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="patientName" value="@Model.FirstOrDefault()?.Patient.FullName" disabled />
                            <label for="patientName">Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="idNumber" value="@Model.FirstOrDefault()?.Patient.IdNumber" disabled />
                            <label for="idNumber">ID Number</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="patientGender" value="@Model.FirstOrDefault()?.Patient.Gender" disabled />
                            <label for="patientGender">Gender</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="contactNumber" value="@Model.FirstOrDefault()?.Patient.ContactNumber" disabled />
                            <label for="contactNumber">Contact Number</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-4">


            <table id="tblData" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Medication</th>
                        <th>Quantity</th>
                        <th>Status</th>
                        <th>Urgent?</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="//cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        var getPatientPrescriptionUrl = '@Url.Action("GetPatientPrescription", "Nurse")';
        var prescriptionUrl = '@Url.Action("Prescription", "Nurse")';
        var listMedicationToAdministerUrl = '@Url.Action("ListMedicationToAdminister", "Nurse")';
        var listAdministeredMedicationUrl = '@Url.Action("ListAdministeredMedication", "Nurse")';
    </script>


    <script>
        var dataTable;

        $(document).ready(function () {
            var patientId = @Html.Raw(ViewBag.PatientId);

            loadDataTable(patientId);
        });

        function loadDataTable(patientId) {
            dataTable = $('#tblData').DataTable({
                "ajax": {
                    url: getPatientPrescriptionUrl, // Use the URL from the script tag
                    data: { id: patientId },
                    dataSrc: 'data'
                },
                "columns": [
                    { data: 'date', "width": "10%" },
                    { data: 'medications', "width": "20%", "render": function (data) { return data.replace(/\n/g, '<br>'); } },
                    { data: 'quantities', "width": "10%", "render": function (data) { return data.replace(/\n/g, '<br>'); } },
                    { data: 'status', "width": "10%" },
                    { data: 'urgent', "width": "10%" },
                    {
                        data: 'prescriptionId',
                        "render": function (data, type, row) {
                            var buttons = `<div class="btn-group" role="group">
                                <a href="${prescriptionUrl}/${data}" class="btn btn-primary mx-1"> <i class="bi bi-eye-fill"></i> View</a>`;

                            if (row.status === "Received") {
                                buttons += `<a href="${listMedicationToAdministerUrl}/${data}" class="btn btn-success mx-1"> <i class="bi bi-check-circle"></i> Administer</a>`;
                                buttons += `<a href="${listAdministeredMedicationUrl}/${data}" class="btn btn-info mx-1"> <i class="bi bi-list-check"></i> Administered Medication</a>`;
                            }

                            if (row.status === "Dispensed") {
                                buttons += `<a href="#" class="btn btn-success" onclick="recievePrescription(${data})"><i class="bi bi-check2-circle"></i>Receive</a>`;
                            }

                            buttons += `</div>`;
                            return buttons;
                        },
                        "width": "20%"
                    }
                ]
            });
        }





        function recievePrescription(prescriptionId) {
            Swal.fire({
                icon: "success",
                title: "Prescription has been Received",
                showConfirmButton: true,
                confirmButtonText: 'Ok'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/nurse/ReceivePrescription',
                        type: 'POST',
                        data: {
                            prescriptionId: prescriptionId,  
                            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                        },
                        success: function (data) {
                            if (data.success) {
                                dataTable.ajax.reload();
                                toastr.success(data.message);
                            } else {
                               // toastr.error(data.message);
                            }
                        },
                        error: function (err) {
                            toastr.error("Error while receiving prescription");
                        }
                    });
                }
            });
        }

    </script>
}
